In [49]:
%reload_ext sql
%sql mysql+mysqlconnector://root:root@localhost/test

In [50]:
%%sql
create database spotify_db;

 * mysql+mysqlconnector://root:***@localhost/test
(mysql.connector.errors.DatabaseError) 1007 (HY000): Can't create database 'spotify_db'; database exists
[SQL: create database spotify_db;]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [51]:
%%sql

use spotify_db;
CREATE TABLE IF NOT EXISTS spotify_tracks (
    id INT AUTO_INCREMENT PRIMARY KEY,
    track_name VARCHAR(255),
    artist VARCHAR(255),
    album VARCHAR(255),
    popularity INT,
    duration_minutes FLOAT
)

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.
0 rows affected.

[]

In [58]:
%%sql
use spotify_db;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [59]:
%%sql
truncate table spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [60]:
%%sql
select * from spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/test
10 rows affected.

[(1, 'Blinding Lights', 'The Weeknd', 'After Hours', 91, 3.334),
 (2, 'The Fate of Ophelia', 'Taylor Swift', 'The Life of a Showgirl', 100, 3.76788),
 (3, "We Don't Talk Anymore (feat. Selena Gomez)", 'Charlie Puth', 'Nine Track Mind', 80, 3.62843),
 (4, 'When Did You Get Hot?', 'Sabrina Carpenter', 'Man’s Best Friend', 90, 2.4233),
 (5, 'Cinnamon Girl', 'Lana Del Rey', 'Norman Fucking Rockwell!', 88, 5.01138),
 (6, 'Gabriela', 'KATSEYE', 'Gabriela', 93, 3.2871),
 (7, 'WILDFLOWER', 'Billie Eilish', 'HIT ME HARD AND SOFT', 93, 4.35777),
 (8, 'Blood Sweat & Tears', 'BTS', 'Wings', 75, 3.61752),
 (9, 'Kill This Love', 'BLACKPINK', 'Kill This Love', 72, 3.15087),
 (10, 'What is Love?', 'TWICE', 'Summer Nights', 79, 3.47067)]

In [61]:
%%sql

SELECT track_name, artist, album, popularity
FROM spotify_tracks
ORDER BY popularity DESC
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[('The Fate of Ophelia', 'Taylor Swift', 'The Life of a Showgirl', 100)]

In [62]:
%%sql

SELECT AVG(popularity) AS average_popularity
FROM spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(Decimal('86.1000'),)]

In [63]:
%%sql

SELECT track_name, artist, duration_minutes
FROM spotify_tracks
WHERE duration_minutes > 4.0;

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[('Cinnamon Girl', 'Lana Del Rey', 5.01138),
 ('WILDFLOWER', 'Billie Eilish', 4.35777)]

In [64]:
%%sql

SELECT 
    CASE 
        WHEN popularity >= 80 THEN 'Very Popular'
        WHEN popularity >= 50 THEN 'Popular'
        ELSE 'Less Popular'
    END AS popularity_range,
    COUNT(*) AS track_count
FROM spotify_tracks
GROUP BY popularity_range;

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[('Very Popular', 7), ('Popular', 3)]